<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>

  <appSettings>
    <!-- Tu podajesz swój klucz Miro API -->
    <add key="Miro.ApiKey" value="eyJtaXJvLm9yaWdpbiI6ImV1MDEifQ_QXje7a49LyBHZuda4RpWfFdVVyE"/>
  </appSettings>
</configuration>